{
    "parser": "babel-eslint",

    "rules": {
        "quotes": [2, "single"],
        "strict": [2, "never"],
        "no-unused-vars": 1,
        "camelcase": false,
        "indent": 2
    },

    "env": {
        "node": true,
        "es6": true
    },

    "ecmaFeatures": {
        "jsx": true
    },

    "plugins": [
        "react"
    ],

    "settings": {
        "ecmascript": 6
    },

    "globals": {
        "document": true,
        "window": true,
        "karma": true,
        "chrome": true,
        "sessionStorage": true
    }
}
