{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Aligot{% endblock %}</title>
    <link rel="stylesheet" href="{% static "vendors/semantic/dist/semantic.min.css" %}" type="text/css">
</head>
<body>
{% block body %}
    {% block content %}{% endblock %}
    {% block scripts %}
        <script type="text/javascript" src="{% static "vendors/requirejs/require.js" %}" data-main="{% static "js/main.js" %}"></script>
    {% endblock %}
{% endblock %}
</body>
</html>
